                                                                          
<div class="side-nav-contect " (mouseover)="showSlidebar(true)" (mouseout)="showSlidebar(false)" [ngClass]="{'side-nav-contect-open': slidebar}">
    <ul class="nav-list " >
        <h2 class="dx"><i>Dx</i></h2>
        <li class="nav-list-item  " *ngFor="let item of sidebarList">
            <a href="#{{item.ref}}"> <i class={{item.icon}}></i></a>
            <span><a href="#{{item.ref}}" class="item-hiden" [ngClass]="{'item-open': slidebar}">{{item.name}}</a></span>
        </li>
        
    </ul>
</div>
