/* .skill{
    overflow-x: hidden;
} */
.skillLeft{
    padding-left: 9rem;
    width: 100%;
}
@media screen and (max-width: 510px) {
    .skillLeft{
        padding-left: 4rem;
    }
}
@media screen and (max-width: 450px) {
    .skillLeft{
        padding-left: 1rem;
    }
}
.tittletH2{
    display:inline;
    font-size: 4rem;
    height: 100%;
    color: rgba(245, 179, 56, 0.1); 
    background: linear-gradient(90deg,rgba(252,176,69,1)  0%, rgb(248, 197, 56) 50%,rgba(240,230,140,1)  80%);
    background-clip:text; 
}
.tittletH2FisrtL{
    font-size: 5rem;
    
}
@media screen and (max-width: 336px) {
    .tittletH2{
        font-size: 3rem;
    }
    .tittletH2FisrtL{
        font-size: 4rem;
    }
}
.line{
    display: flex;
    background-color: rgba(240, 255, 255, 0.1);
    border: 1px solid rgba(245, 179, 56, 1);
    width: 90%;
    
}

.skillBox{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    align-items: center;
}
.skills{
    color: aliceblue;
    width: 40%;
}
.skills h2{
    margin-bottom: 5rem;
    font-size: 5rem;
    line-height : 45px;
    color: rgba(255, 255, 255, 0.5); 
    background: -webkit-linear-gradient(90deg,rgb(155, 233, 30)  0%, rgb(9, 233, 139) 40%,rgb(255, 230, 7)  70%);
    background-clip:text; 
    -webkit-background-clip: text;
}
.skills p{
    font-size: 1.5rem;
    line-height : 45px;
    color:beige;

}
.languages{
    color: aliceblue;
}
.tagcloud{
    width: 40rem;
    color: #00FF7F; 
    background-clip:text; 
    font-weight: bold;
}
@media screen and (max-width: 1380px) {
    .skills{
        width: 23rem;
    }
    .skills h2{
        font-size: 4rem;
      }
      .skills p{
        font-size: 1rem;
        line-height : 35px;
        color:beige;
        width: 22rem;
    }
}
    @media screen and (max-width: 1247px) {
        .skillBox{
            margin-top: 8rem;}
        .skills{
            width: 75%;
        }
        .skills h2{
            font-size: 5rem;
          }
          .skills p{
            font-size: 1rem;
            line-height : 35px;
            color:beige;
            width: 100%;
        }
        #skill{
            margin-bottom:20rem ;
        }
}
@media screen and (max-width: 740px) {
    .skills h2{
        font-size: 3.5rem;
      }
}
@media screen and (max-width: 645px) {
    .tagcloud{
        display: none;
    }
}
@media screen and (max-width: 560px) {
    .skillBox{
        margin-top: 5rem;}

    .skills h2{
        font-size: 2.5rem;
        width: 15rem;
        line-height : 25px;

      }
      .skills p{
        font-size: 0.8rem;
        line-height : 25px;
    }
}
@media screen and (max-width: 300px) {

    .skills h2{
        font-size: 1.8rem;
        width: 10rem;
        line-height : 25px;
      }
}
/***************************/
.skillAbi{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    background-image: url('../../../../../assets/imagenes/img-tunel4k-opt.jpg');
    background-position: center;
    border-radius: 10px;
    margin-top: 7rem;
    padding: 5rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.abiBox{
    position: relative;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url('../../../../../assets/P_rustico.jpg');
    border-radius: 30px;
    margin: 3rem 0.8rem;
    padding: 1rem;
    
}
.abiBox .img{
    position: absolute;
    top: -3.5rem;
    width: 50%;
    height: 80%;
    background-size: 160px;
    background-repeat: no-repeat;
   
}
.skillAbi .abiBox .img1{
    background-image: url('../../../../../assets/icono-img/icono-angular.png');
}
.skillAbi .abiBox .img2{
    background-image: url('../../../../../assets/icono-img/icono-javascript.png');
   
}
.skillAbi .abiBox .img3{
    background-image: url('../../../../../assets/icono-img/icono-asp.png');
    background-size: 150px;

}
.skillAbi .abiBox .img4{
    background-image: url('../../../../../assets/icono-img/icono-c.png');
    background-size: 150px;
}
.skillAbi .abiBox .img5{
    background-image: url('../../../../../assets/icono-img/icono-entity.png');
}
.skillAbi .abiBox .img6{
    background-image: url('../../../../../assets/icono-img/icono-sql.png');
}
.abiBox .text{
    position: relative;
    width: 100%;
    height: 60%;
    background-color: rgba(11, 17, 9, 0.5);
    border-radius: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.abiBox .text p{
width: 80%;
transform: rotateY(180deg);
backface-visibility: hidden;

}
.abiBox .text h2{
    position: absolute;
    font-weight: bold;
    font-size: 2rem;
    color: antiquewhite;

}
.abiBox:hover .img{
    /* transform: translateX(9rem); */
    transform: translateX(98%);

    transition: all 2s ease-in-out;
    z-index: 2;
}
.abiBox:hover .text{
    height: 100%;
    transform: rotateY(0deg);
    justify-content: start; 
    transition: all 2s ease-in-out;
}
.abiBox:hover .text h2{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}    
.abiBox:hover .text p{
 
    transform: rotateY(0deg);
    transition: all 2s ease-in-out;
}


@media screen and (max-width: 1148px) {
    .skillAbi{
        height: auto;
        background-color: #00FF7F;
        background-size: cover;
        
    }
}
@media screen and (max-width: 820px) {
    .skillAbi{
        height:fit-content;
        background-size:90%;
        background-repeat: repeat;
    }
}

@media screen and (max-width: 486px) {
    .skillAbi{
        padding: 3rem;
    }
.skillAbi .abiBox .img{
        top: -3.5rem;
        width: 115px;
        background-size: 115px;
    }
    .abiBox:hover .img{
        transform: translateX(100%);
    }

}
@media screen and (max-width: 410px) {

    .abiBox:hover .img{
        transform: translateX(110%);
    }
    .abiBox .text p{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 370px) {
    .skillAbi{
        padding: 2rem;
    }
    .abiBox:hover .img{
        transform: translateX(95%);
    }
}
@media screen and (max-width: 322px) {
    .skillAbi{
        padding: 1rem;
    }
    .abiBox:hover .img{
        transform: translateX(80%);
    }
    .abiBox .text p{
        font-size: 0.7rem;
    }
}