<p>skills works!</p>
<div class="skill">
  <div class="skillLeft">
      <h2 class="tittletH2"><span class="tittletH2FisrtL">S</span>kills</h2>
      <span class="line"></span>
      <div class="skillBox">
        <!-- <div class="languages">
            <h2>Languages</h2>
            <ul>
              <pre>

                <li>Español -  Nativo</li>
                <li>Ingles  -  Medio-alto</li>
                <li>Chino   -  Nativo</li>
              </pre>
            </ul>
        </div> -->
        <div class="skills">
          <h2>Introduccing my skills</h2>
          <p>
            I'm a full stack web developer working with the .net languages ​​on the back end side and using the entity framework orm and linq to perform the queries.
            On the front end side, I work with javascript and using the Angular framework, with which this web application is made.</p>
        </div>
          <span class="tagcloud"></span>
      </div>
  </div>
    <div class="skillAbi">
        <div class="abiBox">
          <span class="img img1"></span>
          <div class="text">
            <h2><i>Angular</i></h2>
            <p> El framework que mas utilizon de javascript para programar es Angular, con el que esta realizado esta pagina.</p>
          </div>
        </div>
        <div class="abiBox">
          <span class="img img2"></span>
          <div class="text">
            <h2><i>Javascript</i></h2>
            <p>Mi lenguaje de front-end principal es javascript</p>
          </div>
        </div>
        <div class="abiBox">
          <span class="img img3"></span>
          <div class="text">
            <h2><i>.Net</i></h2>
            <p>El ecositema que utilizo para crear programas en el back-end es .Net</p>
          </div>
        </div>
        <div class="abiBox">
          <span class="img img4"></span>
          <div class="text">
            <h2><i>C#</i></h2>
            <p>Mi lenguaje del back-end principal es c#</p>
          </div>
        </div>
        <div class="abiBox">
          <span class="img img5"></span>
          <div class="text">
            <h2><i>Entity Framework</i></h2>
            <p>El ORM que uso para .Net es Entity Framework</p>
          </div>
        </div>
        <div class="abiBox">
          <span class="img img6"></span>
          <div class="text">
            <h2><i>SQL</i></h2>
            <p>El manejo de base de datos son SQL, como principal MySql y tambien Sql Serve</p>
          </div>
        </div>

    </div>

</div>