
        <h2 class="tittletH2">
          <span class="tittletH2FisrtL">A</span>bout  
        </h2>
        <!-- <span class="line"></span> -->
       



        <div class="divbox">
            <div class="me">
              <p>Hi my name is David a junior developer from Spain, Madrid. 
                Im a junior developer, trying to create my future in this area </p>
            </div>
            <div class="meRightside">
              <img src="../../../../../../assets/face.jpg" alt="sd">
          
            </div>
        </div>