
<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <div class="side-var-button px-2 m-3 text-light">
        <i class="bi bi-list"></i>
    </div>
    <a class="navbar-brand px-5">Dx</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown">
                    menu
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">aaa</a></li>
                    <li><a class="dropdown-item" href="#">aaa</a></li>
                </ul>
            </li>
            
        </ul>

    </div>
</nav>