<section id="intro">
    <div class="header" (mousemove)="showstar()">
        <div class="name">
            <i>
                <p>Hi,</p>
                <p>Im David</p>   
                <div class="developer"><p class="p3">Back-End Developer! </p> </div>
              </i>
              <span> JAVA Developer / Microservices / AWS </span><br>  
              
              <button class="btn btn-outline-warning" ><a href="#contact" class="enlace">Contact me!!</a> </button>
        </div>
        <div class="estrellas" [ngStyle]="{'display':showStar}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>

        </div>
      </div>
      
</section>

<section id="about"> <app-about></app-about>   </section>

<section id="skill"> <app-skills></app-skills> </section>


<section id="works">

        <br>
        <h2 class="tittletH2"><span class="tittletH2FisrtL">W</span>orks</h2>
        <span class="line"></span>
        <div class="works"></div>


  <div class="boxFrame" (mousedown)="boxClickdown($event)"                               
                        (mousemove)="boxMove($event)"
                        (mouseup)="boxclickup()"
                        (mouseleave)="boxAutoRotate()" 
                        >
      <div class="boxContainer" >
  
          <div class="box">
  
                <div class="box2">
                    <div class="faceIn" id="frontIn"></div>
                    <div class="faceIn" id="backIn"></div>
                    <div class="faceIn" id="leftIn"></div>
                    <div class="faceIn" id="rightIn"></div>
                    <div class="faceIn" id="topIn"></div>
                    <div class="faceIn" id="bottomIn"></div>
                </div>
                
                <div class="box1" [ngStyle]="{'transform': 'rotateY('+ CubeValueX +') rotateX('+ CubeValueY +')'}"
                                  [ngStyle]="{'animation': styleNone}" 
                                  >       
                    <div class="face front"   id="front"  (dblclick)="open($event)"        [ngClass]="{'expandFront': expandBox }"  >1</div><!--front-->
                    <div class="face back"    id="back"   (dblclick)="faceSideId($event)"  [ngClass]="{'expandBack': expandBox }"   >2</div><!--back-->
                    <div class="face left"    id="left"   (dblclick)="faceSideId($event)"  [ngClass]="{'expandLeft': expandBox }"   >3</div><!--left-->
                    <div class="face right"   id="right"  (dblclick)="faceSideId($event)"  [ngClass]="{'expandRight': expandBox }"  >4</div><!--right-->
                    <div class="face top"     id="top"    (dblclick)="faceSideId($event)"  [ngClass]="{'expandTop': expandBox }"    >5</div><!--top-->
                    <div class="face bottom"  id="bottom" (dblclick)="faceSideId($event)"  [ngClass]="{'expandBottom': expandBox }" >6</div><!--bot-->
                </div>
          </div>
          
          <app-cube  [moduleOpen]="modulestate"  (closeComponent)="moduleClose($event)" [boxSide]="faceSideIdValue"></app-cube>
            
      </div>
  </div>  
  
</section>

<section id="contact"> <app-contact></app-contact> </section>


  <section>
    <!-- <h2 class="tittletH2"><span class="tittletH2FisrtL">C</span>ubo</h2> -->


  </section>

























  
<!-- 
  <div class="cube">
     <video src="assets\matrix.mp4" autoplay="" loop="" class="qq"></video> 
    <div>
      <span>   
        <video src="assets\matrix.mp4" autoplay="true" loop=""  ></video>
        </span>
        <span>
          <video src="assets\matrix.mp4" autoplay="true" loop=""></video>
        </span>
        <span>
          <video src="assets\matrix.mp4" autoplay="true" loop=""></video>
        </span>
      </div>
  </div> -->

<!-- <div class="cube">

</div> -->
  

  <!-- <div class="espacio">
    <div class="cubo">
      <span class="cara c1">


      

      </span>
      <span class="cara c2">

      </span>
      <span class="cara c3"></span>
      <span class="cara c4"></span>
      <span class="cara c5"></span>
      <span class="cara c6"></span>


    </div>
  </div> -->
           
  <!-- <div class="caraIn1">

    <div class="caratittle">
      <h2 class="caratittletH2">Contact

        <span class="caraline"></span>
      </h2>

    </div>

      <div class="caraIn1divBox">
          <a href="#"><i class="bi bi-linkedin"></i></a>
          <a href="#"><i class="bi bi-envelope-at-fill"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
      </div>
  </div>   -->






  <!-- <section id="about">
  <div class="about">
    
    <h2 class="tittletH2"><span class="tittletH2FisrtL">A</span>bout</h2>
    <span class="line"></span>
    <div class="divbox">
        <div class="me">
          <h2>A Little about Me</h2>
          <div class="meIn">
         

              <p>Hi my name is David a junior developer from Spain, Madrid. 
                Im  trying to create my future in this area .
                I am a curious person, therefore I love to investigate and learn more every day.
                I love technology and that's why I dedicate myself to being a web developer.</p>
  

          </div>
        </div>
        <div class="meRightside">
            <img src="../../../assets/face.jpg" alt=""><br><br>
        </div>

    </div>

  </div>
    
</section> -->