<p>about works!</p>

    <div class="about">
      
      <h2 class="tittletH2"><span class="tittletH2FisrtL">A</span>bout</h2>
      <span class="line"></span>
      <div class="divbox">
          <div class="me">
            <h2>A Little about Me</h2>
            <div class="meIn">
           
  
                <p>Hi my name is David a junior developer from Spain, Madrid. 
                  Im  trying to create my future in this area .
                  I am a curious person, therefore I love to investigate and learn more every day.
                  I love technology and that's why I dedicate myself to being a web developer.</p>
    
  
            </div>
          </div>
          <div class="meRightside">
              <img src="../../../assets/face.jpg" alt=""><br><br>
          </div>
  
      </div>
  
    </div>
      
