<br>
    <div class="about">
      
      <h2 class="tittletH2"><span class="tittletH2FisrtL">A</span>bout</h2><br><br>
      <!-- <span class="line"></span> -->
      <span class="l1"  ></span>
      <span class="l2"  [ngClass]="{'moveOpen': moveLeft ,'moveClose': moveRight }"></span>
      <div class="divbox"  [ngClass]="{'moveLeft': moveLeft ,'moveRight': moveRight }" >
        <!-- [ngStyle]="{'transform': 'translate('+ transport + 'rem)'}" -->
          <div class="me">
            <h2>A Little about Me</h2>
            <div class="meIn">
           
  
                <p>
                  Mi nombre es David, un desarrollador junior, viviendo en Madrid. <br>
                  Soy un apasionado de la tecnología desde pequeño, Por eso para mí la programación
                  es más que un trabajo, es una forma de vida.<br>
                  Mi objetivo es convertirme en un programador cada vez más experimentado, que pueda resolver
                  todos los problemas y requerimientos que puedan surgir.
                  Por ello siempre estoy aprender más, y superándome día a día, además de ello, aprender e investigar nuevas tecnologías es fundamental para mí.
                </p>
    
  
            </div>
          </div>
          <div class="meRightside">
              <!-- <img src="https://github.com/DavidCLu/portafolio/blob/master/src/assets/imagenes/img-yo.jpg?raw=true" alt=""><br><br> -->
              <img src="assets/imagenes/img-yo-opt.jpg" alt=""><br><br>
            </div>
  
      </div>
  
    </div>
      
