<br>
<h2 class="tittletH2"><span class="tittletH2FisrtL">C</span>ontact</h2>
<span class="line"></span>
<div class="contact">

    <div class="divBox">
     
        <!-- <a href="https://www.linkedin.com/in/david-chenliang-lu" target="_blank"><i class="bi bi-linkedin"></i></a> -->
        
        <div class="plataform">
            <div class="layer">
                <h2>Mi contacto por Linkedin,<br> Click al icono</h2>
            </div>
        </div>
        <!-- <a href="https://www.linkedin.com/in/david-chenliang-lu" target="_blank"><img src="https://github.com/DavidCLu/portafolio/blob/master/src/assets/icono-img/linkedin.png?raw=true" alt=""></a> -->
        <a href="https://www.linkedin.com/in/david-chenliang-lu" target="_blank"><img src="../../../../../assets/icono-img/linkedin.png" alt=""></a>
        
    </div>
</div>
    <!-- <div class="camino"></div> -->



<!-- 
<div class="form">
    <form action="">
        <label for="nombre">Nombre</label>
        <input type="text" name="name" id="name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="subject">Asunto</label>
        <input type="text" name="subject" id="subject">
        <label for="comments">Comentarios</label>
        <textarea name="comments" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Enviar">
    </form>
</div> -->